body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?cs=srgb&dl=pexels-abdullah-ghatasheh-1631677.jpg&fm=jpg");
    background-color: antiquewhite;
    text-align: center;
    margin-bottom: auto;
} 

.container{
    position: relative;
    width: auto;
    height: auto;
    margin: 50px auto;
    padding: 70px;
}

.container .box{
    position: relative;
    width: calc(1200px - 25px);
    height: auto;
    background: WhiteSmoke;
    top: -50px;
    left: 12%;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow-y:auto;
    border-radius: 10px;
}
.tag{
    font-size: 20px;
    text-align: right;
}

.date{
    font-size: 20px;
    position: absolute;
    top:0;
    left:0;
}

.Approvalcontainer{
    position: relative;
    width: auto;
    height: auto;
    margin: 50px auto;
    padding: 70px;
}

.Approvalcontainer .ApprovalBox{
    position: relative;
    width: calc(1200px - 25px);
    height: auto;
    background: darkgrey;
    top: -50px;
    left: 12%;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow-y:auto;
    border-radius: 10px;
}

.header{
    overflow: hidden;
    padding: 30px 15px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 5px;
}
.header a:hover{
    background-color: #1E90FF;
}
.header-right {
    float: right;
}


footer{
    overflow: hidden;
    background-color: SteelBlue;
    padding: 30px 15px;
    color: white;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    bottom: 0;
    left: -1%;
    width: 99.5%;
    height: 2.6rem;
    z-index: -1;
}
.buttonApprove {
    background-color: darkgreen;
    height:45px;
    width: 95px;
    font-weight: bold;
    font-size: large;
    border: 2px solid #4CAF50;
}
.buttonDeny {
    background-color: darkred;
    height:45px;
    width: 95px;
    font-weight: bold;
    font-size: large;
    border: 2px solid #4CAF50;
}


table{
   margin-left: auto;
   margin-right: auto;
}

.active{
   background-color: darkgrey;
    
}