<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href=BlogWebsite.css>

    <title>Pending Submissions</title>
</head>
<body>
<div class="header">
    <!-- Logo -->
    <a href="home.html" class="logo">Sarah Blog Title</a>
    <!-- Navigation Bar -->
    <div class="header-right">
        <a href="home.html">Home</a>
        <a href="login.html">Login</a>
        <a class="active" href="submit.html">Submit</a>
        <a href="pending.html">Pending Approval</a>
    </div>
</div>

<div class="row m-4 border border-dark">
    <div class="col-3 text-center m-3">
        <span class="h3">Add Account</span>
    </div>
    <div class="col-7 text-center m-3">
        <form action="addAccount" method="POST">
            <div class="form-group row">
                <label for="Username" class="col-3 col-form-label">
                    First Name</label>
                <div class="col-9">
                    <input type="text" name="Username"
                           id="Username" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="Password" class="col-3 col-form-label">
                    Last Name</label>
                <div class="col-9">
                    <input type="text" name="Password"
                           id="Password" class="form-control"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<div class="row m-4 border border-dark">
    <div class="col text-center m-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Account : ${Accounts}">
                <td th:text="${Account.id}">Account ID</td>
                <td th:text="${Account.username}">Username</td>
                <td th:text="${Account.password}">Password</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>



<footer id="footer">
    <p>Author: Sarah Dutkiewicz<br>
        <a href="mailto:sarah@fakeemail.com">sarahs@blog.com</a></p>
    <br>
    Copyright © Sarah Dutkiewicz. All rights reserved
</footer>
</body>
</html>