 <!doctype html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Custom CSS -->
        <link rel="stylesheet" href=BlogWebsite.css>

    <title>Pending Submissions</title>
</head>
<body>
<div class="header">
    <!-- Logo -->
    <a href="home.html" class="logo">Sarah Blog Title</a>
    <!-- Navigation Bar -->
    <div class="header-right">
        <a class="active" href="home.html">Home</a>
        <a href="/login.html">Login</a>
        <a href="/submit.html">Submit</a>
        <a href="/accounts">Accounts</a>
        <a href="/articles">Pending Approval</a>
    </div>
</div>



<div class="Approvalcontainer">
    <div>
        <div th:each="article : ${articles}" class="ApprovalBox">
            <h2 th:text="${article.title}">blog title</h2>
            <div th:utext="${article.body}"></div>
            <div th:utext="${article.category}" class = "tag"></div>
            <div th:text="${article.date}" class = "date"></div>
            <button class="button buttonApprove"><a href = "#" th:href="@{approveArticle(id=${article.articleID})}">Approve</a></button>
            <button class="button buttonDeny"><a href = "#" th:href="@{deleteArticle(id=${article.articleID})}">Deny</a></button>
    
        </div>
        
        </div>
</div>


<footer id="footer">
    <p>Author: Sarah Dutkiewicz<br>
        <a href="mailto:sarah@fakeemail.com">sarahs@blog.com</a></p>
    <br>
    Copyright © Sarah Dutkiewicz. All rights reserved
</footer>
</body>
</html>